{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/logout.css') }}">
</head>

<section class="logout-container">
    <h2>You have been logged out successfully</h2>
    <p>Thank you for using Vuka Africa.</p>
    <div class="logout-buttons">
        <a href="{{ url_for('login') }}" class="btn-login">Log In</a>
        <a href="{{ url_for('register') }}" class="btn-register">Register</a>
    </div>
</section>
{% endblock %}
