{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
</head>

<section class="register-form">
    <h2>Create an Account</h2>
    <form action="{{ url_for('register') }}" method="POST">
        <!-- Username -->
        <div class="form-group">
            <label for="surname">Username</label>
            <input type="text" name="username" id="username" required>
        </div>

        <!-- Other Names -->
        <div class="form-group">
            <label for="other_names">Other Names</label>
            <input type="text" name="other_names" id="other_names" required>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" required>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone" required>
        </div>

        <!-- Physical Address -->
        <div class="form-group">
            <label for="physical_address">Physical Address</label>
            <input type="text" name="physical_address" id="physical_address" required>
        </div>

        <!-- Next of Kin -->
        <div class="form-group">
            <label for="next_of_kin">Next of Kin</label>
            <input type="text" name="next_of_kin" id="next_of_kin" required>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <!-- Register Button -->
        <div class="form-group">
            <button type="submit" class="search-button">Register</button>
        </div>
    </form>

    <p class="login-link">
        Already have an account? 
        <a href="{{ url_for('login') }}" class="login-link-text">Login here</a>.
    </p>
</section>

<!-- Include JavaScript -->
<script src="{{ url_for('static', filename='scripts/register.js') }}"></script>

{% endblock %}
